*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat"; 
}

/*HEADER*/
header{
    background-color: #f0cffa;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-style: italic;
    font-weight: 100;
}
/*MENU*/
li{ 
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    justify-content: space-around;
    border: solid;
    border-color: #ecc7f8;
}

/*INDEX*/
.mainindex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 650px;
    background-image: url(../images/CakeCupcake);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.textomain{
    font-size: small;
    text-align: center;
}
.textomain h2{
    font-weight: normal;
}
.textomain h3{
    font-weight: normal;
}

/*Paginas Productos*/
.paginatortas{
    background-color:#FBF3B9 ;
}
.paginacookies{
    background-color: #B7B1F2;
}
.paginacupcakes{
    background-color: #FFDCCC;
}

.claseProductos{
    display: flex;
    justify-content: space-around;
    height: 400px; 
}
.claseProductos img{
    margin-top: 50px; 
    border-radius: 50px; 
}

/*Pagina Sobre Mi
.sobremi{
    background-color:#FBF3B9 ;
    text-align: left; 
   }
section{
    background-color:#FDB7EA;
}
section img{
    height: 350px;
}
*/

/*Pagina Contacto*/
.paginacontacto{
    height: 600px;
    background-color: #B7B1F2 ;
    background-image: url(../images/productos.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.paginacontacto h2{
    font-weight: normal;
}

/*footer*/
.flexfooter{
    display: flex;
    background-color: #f0cffa;
    justify-content: center;
    height: 40px;
}

.diseñofooter{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px;    
}
.diseñofooter a{
    margin: 5px;
}
.diseñofooter h3{
    font-size: medium;
    font-weight: normal;
}

