*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat"; 
}

/*HEADER*/
header{
    background-color: #f0cffa;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-style: italic;
    font-weight: 100;
}
/*MENU*/
li{ 
    list-style: none;
}
li a{
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    justify-content: space-around;
    border: solid;
    border-color: #ecc7f8;
}

/*INDEX*/
.mainindex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(../images/CakeCupcake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.textomain{
    font-size: small;
    text-align: center;
}
.textomain h2{
    font-weight: normal;
}
.textomain h3{
    font-weight: normal;
}


/*Paginas Productos*/
/*GRID PRODUCTOS*/
.contenedor-grid{
    display: grid;
    grid-template-areas: 
    "texto-cookies-torta-cupcake texto-cookies-torta-cupcake texto-cookies-torta-cupcake"
    "cookies1-tortaferrero-cupcakefruta cookies2-tortapeanut-cupcakemargarita cookies3-tortafrutilla-cupcakeperlas"
    "cookies4-tortaferrero1-cupcakeunicornio cookies5-tortapeanut1-cupcakeverdes cookies6-tortafrutilla1-cupcakechoco";
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 30px repeat(2, 450px);
    
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.texto-cookies-torta-cupcake{
    grid-area: texto-cookies-torta-cupcake;
    margin-top: 50px;   
}

.cookies1-tortaferrero-cupcakefruta{
    grid-area: cookies1-tortaferrero-cupcakefruta;
    width: 300px;
}
.cookies2-tortapeanut-cupcakemargarita{
    grid-area: cookies2-tortapeanut-cupcakemargarita;
    width: 300px;
}
.cookies3-tortafrutilla-cupcakeperlas{
    grid-area: cookies3-tortafrutilla-cupcakeperlas;
    width: 300px;
}
.cookies4-tortaferrero1-cupcakeunicornio{
    grid-area: cookies4-tortaferrero1-cupcakeunicornio;
    width: 300px;
}
.cookies5-tortapeanut1-cupcakeverdes{
    grid-area: cookies5-tortapeanut1-cupcakeverdes;
    width: 300px;
}
.cookies6-tortafrutilla1-cupcakechoco{
    grid-area: cookies6-tortafrutilla1-cupcakechoco;
    width: 300px;
}

/*COOKIES*/
.paginacookies{
    background-color: #FBF3B9;
}
.paginacookies img{
    border: solid;
    border-color: #f6e98c;
    border-radius: 30px;
}
/*TORTAS*/
.paginatortas{
    background-color:#a8a0f3 ;
}
.paginatortas img{
    border: solid;
    border-color: #978df2;
    border-radius: 30px;
}
/*CUPCAKES*/
.paginacupcakes{
    background-color: #f9c1a7;
}
.paginacupcakes img{
    border: solid;
    border-color: #f8b89a;
    border-radius: 30px;
}

/*Pagina Sobre Mi*/
.sobremi{
    background-color: #f0cffa;
    text-align: left; 
    display: flex;  
    height: 550px;
}


/*Pagina Contacto*/
.paginacontacto{
    height: 600px;
    background-color: #B7B1F2 ;
    background-image: url(../images/productos.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.paginacontacto h2{
    font-weight: normal;
}

/*footer*/
.flexfooter{
    display: flex;
    background-color: #f0cffa;
    justify-content: center;
}

.diseñofooter{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px;    
}
.diseñofooter a{
    margin: 5px;
}
.diseñofooter h3{
    font-size: medium;
    font-weight: normal;
}

